<div class="ubicacion-wrapper">
    <a class="map-image" href="https://maps.app.goo.gl/87KBCJ7RLqeHerUS8" target="_blank" ><div class="img"></div></a>
    <div class="map-text">
        <p class="ubicados">Estamos ubicados en Merlo centro, zona norte.</p>
        <hr>
        <p>Alcanzamos cualquier zona del AMBA y CABA regularmente, y hacemos viajes en el interior para trabajo</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda iste ab laborum exercitationem atque expedita earum provident laboriosam reprehenderit?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda iste ab laborum exercitationem atque expedita earum provident laboriosam reprehenderit?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda iste ab laborum exercitationem atque expedita earum provident laboriosam reprehenderit?</p>
        <br>
    </div>
</div>